@import "./vars.scss";

.home {
    background: url("../assets/home/background.png") no-repeat center center fixed;
    background-size: cover;
    .content {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .details,
        .image {
            display: flex;
        }

        .details {
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
            // text-align: center;
            width: 60%;
        }
        .details{
            h1{
                display: block;
                @include header-h1;
                font-size: 4em;
                // margin: 10px;
            }
            h2{
                display: block;
                margin-top: 0px;
                color: $sub-header-color;
                font-weight: 700;
                font-size: 2em;
            }
            p{
                font-size: 1.5em;
                font-optical-sizing: auto;
                font-family: "Titillium Web rev=1";
                font-weight: 600;
                margin: 0;              
            }
        }
        .image {
            justify-content: center;
            width: 40%;

            img {
                width: 350px;
                height: 350px;
            }
        }
    }
}


@media (max-width: $max-width-of-window) {
    .home .content{
        flex-direction: column;
        .image {
            margin-top: 32px;
        }
    }
}

@media (max-width: 500px) {
    .home .content{
        flex-direction: column;
        .image {
            margin-top: 32px;
            img{
                width: 150px;
                height: 150px;
            }
        }
    }
}