@import "./vars.scss";

.home {
    background: url("../assets/home/background.png") no-repeat center center fixed;
    background-size: cover;
    .content {
        width: 95%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .details,
        .image {
            display: flex;
        }

        .details {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 60%;
        }
        .details{
            h1{
                @include header-h1;
                font-size: 72px;
                margin: 10px;
            }
            h2{
                margin-top: 0px;
                color: $sub-header-color;
                font-weight: 700;
                font-size: 36px;
            }
            p{
                font-size: 24px;
                font-optical-sizing: auto;
                font-family: "Titillium Web rev=1";
                font-weight: 600;
                margin: 0;              
            }
        }
        .image {
            justify-content: center;
            width: 40%;

            img {
                width: 350px;
                height: 350px;
            }
        }
    }
}
