@import "./vars.scss";

.projects {
    background: url("../assets/projects/background.jpeg") no-repeat center center fixed;
    background-size: cover;
    .image-popup{
        z-index: 1000;
        border: 8px solid $header-shaddow;
        border-radius: 8px;
        box-shadow: 1px 1px 2px 2px #888888;
        img{
            max-width: 90vw;
            max-height: 95vh;
            object-fit: cover;
        }
    }
    .content {
        margin-top: 102px;

        h1 {
            @include header-h1;
            font-size: 42px;
        }

        h4,
        a {
            color: $header-color;
            font-weight: bold;
        }


        .projects-swiper {
            height: calc(100vh - 102px - 84px);
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 24px;
            width: 98%;

            .title {
                text-align: center;
                * {
                    height: 36px;
                }
                a {
                    text-decoration: none;
                    color: $sub-header-color;
                }
                div {
                    margin-top: 8px;
                    font-size: 36px;
                }
                img {
                    height: 36px;
                }
            }
            .tags {
                display: flex;
                flex-direction: row;
                margin: 8px 0 24px;

                div:not(:first-child) {
                    margin-left: 32px;
                }
            }
            .details {
                display: flex;
                flex-direction: row;
                min-height: 350px;
                .description {
                    width: 70%;
                    .desc-wrapper {
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        .desc-paras{
                            height: 65%;
                        }
                    }
                }
                .lists {
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                }
            }
            .other {
                display: flex;
                flex-direction: row;
                justify-content: center;
                min-height: 35px;
                div:not(:first-child) {
                    margin-left: 16px;
                }
            }
            .image-gallery {
                // width: 95%;
                height: 250px;
                margin-top: 100px;
                .swiper-wrapper,
                .swiper-slide{
                    height: 200px !important;
                }

                .swiper-slide img {
                    display: block;
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border: 2px solid $header-shaddow;
                    border-radius: 8px;
                  }
                  .swiper-pagination-progressbar{
                    top: 200px;
                    margin-top: 8px;
                  }
            }
        }
    }
}
