@import "./vars.scss";

.resume {
    background: url("../assets/resume/background.png") no-repeat center center fixed;
    background-size: cover;
    .content {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        h1 {
            @include header-h1;
            font-size: 42px;
            margin-top: -8px;
        }

        .details {
            display: flex;
            flex-direction: column;
            width: 80%;
            .workplace {
                width: 70%;
                padding: 24px;
                box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
                border-radius: 20px;
                background: #f7f4ea;

                &.browzwear {
                    align-self: flex-start;
                    img {
                        width: 150px;
                        height: 50px;
                    }
                }
                &.apester {
                    align-self: center;
                    img {
                        width: 150px;
                        height: 30px;
                    }
                }
                &.webcollage {
                    align-self: flex-start;
                    img {
                        // width: 200px;
                        height: 30px;
                    }
                }

            }
        }
    }
}
