@import "./vars.scss";

.resume {
    background: url("../assets/resume/background.png") no-repeat center center fixed;
    background-size: cover;
    .content {
        display: flex;
        flex-direction: column;

        h1 {
            @include header-h1;
            font-size: 3em;
            margin-top: -8px;
        }
        &.mobile {
            // height: 100vh;
            h1 {
                margin-top: 36px;
            }
            // div{
            //     justify-content: center;
            //     flex-direction: column;
            // }
            .mobile-wrapper{
                height:85vh;
            }
            .details {
                &.swiper {
                    width: 100%;
                    height: 100%;
                }
                .swiper-slide {
                    display: flex;
                    width: 80%;
                }
                .workplace {
                    img {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
        &.desktop {
            justify-content: center;
            align-items: center;
            height: 100%;
            .details {
                display: flex;
                flex-direction: column;
                width: 80%;
                .workplace {
                    width: 70%;
                    padding: 24px;
                    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
                    border-radius: 20px;
                    background: #f7f4ea;

                    &.browzwear {
                        align-self: flex-start;
                        img {
                            width: 150px;
                            height: 50px;
                        }
                    }
                    &.apester {
                        align-self: center;
                        img {
                            width: 150px;
                            height: 30px;
                        }
                    }
                    &.webcollage {
                        align-self: flex-start;
                        img {
                            // width: 200px;
                            height: 30px;
                        }
                    }
                }
            }
        }
    }
}
